POSTGRES_DB=finance_dev
POSTGRES_USER=<DEV_DATABASE_USER>
POSTGRES_PASSWORD=<DEV_DATABASE_PASSWORD>

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/finance_dev
SPRING_DATASOURCE_USERNAME=<DEV_DATABASE_USER>
SPRING_DATASOURCE_PASSWORD=<DEV_DATABASE_PASSWORD>

ML_SERVICE_URL=http://localhost:8000

NEXT_PUBLIC_API_URL=http://localhost:8080